.featured {
    padding: 150px 15px 0;
    position: relative;

    .icon {

        &:nth-child(2) {
            top: 20%;
            left: 80%;
        }
        &:nth-child(3) {
            bottom: -5%;
            left: 50%;
        }
        &:nth-child(4) {
            left: 40%;
        }
    }
}

.featured__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured__link {
    display: flex;

    &:hover {

        .featured__link-text {
            color: $primary-color;
        }

        .featured__link-icon {
            transform: translateX(-100%);
        }
    }
}

.featured__link-text {
    color: $tertiary-color;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
}

.featured__link-icon {
    transition: 0.5s;

    path {
        color: $tertiary-color;
    }
}

.featured__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}

.featured__item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 15px 20px 0;

    &:last-child {
        margin-right: 0;
    }
}

.featured__item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $quaternary-color;
    padding: 10px 20px 5px 0;
    border-top-right-radius: 8px;
}

.featured__item-place {
    color: $primary-color;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.featured__item-country {
    color: $secondary-color;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 850px) {
    
    .featured__item {
        margin-right: 0;
    }
}

@media (max-width: 560px) {
    
    .featured__wrapper {
        flex-direction: column;
    }

    .featured__title  {
        margin-bottom: 20px;
        text-align: center;
    }

    .featured__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}