.stories {
    padding: 150px 15px 0;
    position: relative;

    .icon {

        &:nth-child(2) {
            top: 10%;
            left: 30%;
        }
        &:nth-child(3) {
            bottom: 0;
            left: 25%;
        }
        &:nth-child(4) {
            bottom: -5%;
            left: 70%;
        }
    }
}

.stories__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stories__link {
    display: flex;
    align-items: center;

    &:hover {

        .stories__link-text {
            color: $primary-color;
        }
        .stories__link-icon {
            transform: translateX(-100%);
        }
    }
}

.stories__link-text {
    color: $tertiary-color;
    font-size: 17px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.5s;
}

.stories__link-icon {
    transition: 0.5s;

    path {
        stroke: $tertiary-color;
    }
}

.stories__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 55px;
}

.stories__item {
    max-width: 260px;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 15px;
    margin-bottom: 30px;

    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    &:hover {

        .stories__item-img {
            transform: scale(1.1);
        }
    }
}

.stories__item-img {
    display: block;
    transition: 0.5s;
}

.stories__item-title {
    color: $primary-color;
    font-size: 19px;
    line-height: 1.6em;
    font-weight: 700;
    margin-top: 10px;
}

.stories__item-subtitle {
    color: $secondary-color;
    font-size: 15px;
    line-height: 1.6em;
    margin: 12px 0 22px;
}

.stories__item-link {
    color: $tertiary-color;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;

    &:hover {
        color: $primary-color;
    }
}

@media (max-width: 1024px) {
    
    .stories__items {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    
    .stories__item {
        margin-right: 0;
    }
}

@media (max-width: 580px) {
    
    .stories__wrapper {
        flex-direction: column;
    }

    .stories__title {
        margin-bottom: 20px;
    }

    .stories__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stories__item {
        text-align: center;
    }
}