.testimonials {
    padding: 150px 15px 0;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .icon {

        &:nth-child(2) {
            right: 0;
        }
        &:nth-child(3) {
            bottom: 0;
            right: 50%;
        }
        &:nth-child(4) {
            top: 60%;
            left: -5%;
        }
    }
}

.testimonials__slider {
    position: relative;
    margin-top: 50px;
    max-width: 1200px;
    overflow: hidden;
}

.testimonials__slider-line {
    position: relative;
    left: 0;
    transition: 0.5s;
    flex: 100%;
    display: flex;
}

.testimonials__slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
}

.testimonials__slider-content {
    margin-right: 20px;
}

.testimonials__slider-star {
    display: flex;
}

.testimonials__slider-text {
    max-width: 450px;
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 30px 0 40px;
}

.testimonials__slider-name {
    color: $primary-color;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.testimonials__slider-profession {
    color: $secondary-color;
    font-size: 18px;
}

.testimonials__slider-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    background: $quaternary-color;
    padding: 20px 0 0 30px;
    border-top-left-radius: 16px;
}

.testimonials__slider-button {

    &:first-child {
        margin-right: 20px;
    }

    &:hover {

        path {
            stroke: $tertiary-color;
        }

        circle {
            stroke: $tertiary-color;
        }
    }
}

@media (max-width: 768px) {
    
    .testimonials__slider-text {
        font-size: 18px;
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    

    .testimonials {
        text-align: center;
    }

    .testimonials__slider {
        max-width: 384px;
        margin: 0 auto;
    }

    .testimonials__slider-item {
        flex-direction: column;
    }

    .testimonials__slider-content {
        margin-bottom: 30px;
    }

    .testimonials__slider-star {
        align-items: center;
        justify-content: center;
    }
}